.app {
  background-color: #f3f2ef;
  display: flex;
  /*align-items: center; /* This is why the sidebar is centered, see if adding the feed moves it left */
  flex-direction: column;
}

.app__body {
  display: flex;
}
